---
interface Props {
	menu: Array<string>;
}


const { menu } = Astro.props;

const array = [1, 2, 3, 4, 5];
let hash:any = {};


for (let i:number = 0; i < array.length; i++) {

    // hash table is a key value pair
    // {'0': 1, '1': 2, '2': 3, '3': 4, '4': 5}
    hash[i] = array[i];
}

// console.log(hash[1]);
---

<section>
        <div class="header-container p-6 relative z-50">
            <header class="flex items-center justify-between container mx-auto">
            <a href="#" class="flex items-center">
                <span class=""><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M31.3451 12.7295C31.1601 11.5374 29.5163 10.4371 29.5163 10.4371C29.5163 10.4371 26.786 17.2246 26.0705 18.9884H16.278L21.4212 5.90087L18.7841 5.88996L13.4937 18.9884H5.84831V21.4455H12.6685L8.14668 32.916C4.52632 29.5902 2.45704 24.9032 2.45704 20C2.45704 10.3265 10.327 2.45704 20.0005 2.45704C29.6735 2.45704 37.5435 10.3265 37.5435 20C37.5435 29.6735 29.6735 37.5435 20.0005 37.5435C16.4734 37.5435 13.0747 36.4957 10.1584 34.5107L15.3095 21.4455H25.0827L24.1599 23.7751C23.2559 26.064 22.76 27.3255 22.5597 27.8695C21.8397 29.8277 22.6886 31.89 24.4921 32.5629C24.8526 32.6983 25.2319 32.7667 25.641 32.7667H25.6415C27.1921 32.7573 29.4017 31.6922 30.5288 28.7229C30.5973 28.5419 30.2333 28.0604 29.7141 27.8586C29.1573 27.6419 28.4387 27.7158 28.3906 27.8546C27.7153 29.8009 26.3224 30.508 25.5022 30.2164C25.2424 30.1247 25.0123 29.9105 24.8863 29.6427C24.7941 29.4464 24.7152 29.1265 24.8655 28.7179C25.224 27.743 25.6306 26.723 26.1448 25.4308L27.7267 21.4455H33.7342V18.9884H28.7179L31.3451 12.7295ZM20.0005 0C8.97231 0 0 8.97181 0 20C0 31.0277 8.97231 40 20.0005 40C31.0282 40 40.0005 31.0277 40.0005 20C40.0005 8.97181 31.0282 0 20.0005 0Z" fill="#FFFFFE"/>
                    </svg>
                    
                    </span>
            </a>
            <ul class="hidden md:flex space-x-6">
                    <li><a href="#" class="text-white hover:text-gray-300">Home</a></li>
                <li><a href="#" class="text-white hover:text-gray-300">About</a></li>
                <li><a href="#" class="text-white hover:text-gray-300">Contact</a></li>
              </ul>
            
              <button class="md:hidden">
                <svg class="w-6 h-6 text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path
             
            fill-rule="evenodd"
             
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
             
            clip-rule="evenodd"></path></svg>
            
              
            </button>
        </header>
        </div>
</section>

<script>



</script>

<style lang="scss">
  
</style>
